@import "tailwindcss";
@import "@nuxt/ui";
@import "~/assets/css/typography.css";
@import "~/assets/css/markdown.css";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --font-delius-swash-caps: "Delius Swash Caps", cursive;
    /* --font-mono--font-feature-settings: "ss09" on; */

    --color-golden-50: oklch(0.977 0.022 87.12);
    --color-golden-100: oklch(0.954 0.044 88.51);
    --color-golden-200: oklch(0.916 0.084 88.56);
    --color-golden-300: oklch(0.874 0.121 87.81);
    --color-golden-400: oklch(0.838 0.146 85.89);
    --color-golden-500: oklch(0.801 0.161 82.07);
    --color-golden-600: oklch(0.705 0.143 81.19);
    --color-golden-700: oklch(0.573 0.116 81.81);
    --color-golden-800: oklch(0.427 0.085 83.54);
    --color-golden-900: oklch(0.282 0.054 86.42);
    --color-golden-950: oklch(0.185 0.035 92.93);
}

:root {
    --ui-primary: var(--color-golden-500);

    --ui-bg: var(--color-white);
    --ui-bg-muted: var(--ui-color-neutral-50);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);

    --ui-border: var(--color-golden-200);
    --ui-border-muted: var(--color-golden-100);
    --ui-border-accented: var(--color-golden-300);
    --ui-border-inverted: var(--color-golden-900);
}

.dark {
    --ui-primary: var(--color-golden-500);

    --ui-bg: #000;
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--color-golden-700);
    --ui-border-muted: var(--color-golden-800);
    --ui-border-accented: var(--color-golden-600);
    --ui-border-inverted: var(--color-golden-100);
}

* {
    scrollbar-width: thin !important;
    scroll-behavior: smooth;
    scroll-margin-top: calc(var(--ui-header-height) + 1rem) !important;
}

